---
import NavBarHoverStroke from "./NavBarHoverStroke.astro";
---

<nav
  class="flex h-[var(--navbar-height)] items-end justify-center border-b-[1px] border-light-gray bg-light-main pb-1 pt-3 dark:border-dark-gray dark:bg-dark-main"
>
  <div
    class="global-padding top-0 flex w-full flex-row items-end justify-between gap-x-6 md:max-w-7xl"
  >
    <span
      class="select-none whitespace-nowrap bg-accent-gradient bg-clip-text text-4xl font-bold text-transparent md:text-5xl"
    >
      selina kim
    </span>

    <span class="flex space-x-8">
      <ul
        class="relative flex select-none flex-col items-end gap-y-1 pb-1 text-center text-base font-bold text-dark-main dark:text-light-main sm:flex-row sm:gap-x-4 sm:space-y-0 sm:pb-3 sm:text-lg md:text-2xl"
      >
        <li class="hoverable navbar-object-hover">
          <div class="stroke-animation">
            <NavBarHoverStroke />
          </div>
          <a href="#home-section" rel="noopener noreferrer">home</a>
        </li>
        <li class="hoverable navbar-object-hover">
          <div class="stroke-animation">
            <NavBarHoverStroke />
          </div>
          <a href="#project-section" rel="noopener noreferrer">projects</a>
        </li>
        <li class="hoverable navbar-object-hover">
          <div class="stroke-animation">
            <NavBarHoverStroke />
          </div>
          <a href="#contact-section" rel="noopener noreferrer">contact</a>
        </li>
      </ul>
    </span>
  </div>
</nav>
