---
import DarkIcon from "@icons/DarkIcon.astro";
import LightIcon from "@icons/LightIcon.astro";
---

<div class="global-padding mx-auto mt-4 w-full text-right md:max-w-7xl">
  <button
    id="themeToggle"
    class="w-9 rounded-full bg-dark-gray p-2 text-light-main duration-300 ease-out hover:bg-accent-primary dark:bg-light-gray dark:text-dark-main dark:hover:bg-accent-secondary md:w-11"
  >
    <div id="DarkIcon">
      <DarkIcon />
    </div>
    <div id="LightIcon">
      <LightIcon />
    </div>
  </button>
</div>
