---
export interface Props {
  sectionId: string;
}

const { sectionId } = Astro.props;

import Social from "./Social.astro";

import GitHubIcon from "@icons/GitHubIcon.astro";
import LinkedInIcon from "@icons/LinkedInIcon.astro";
---

<div id={sectionId} class="section flex-col justify-center text-center">
  <div class="my-[var(--footer-height)] flex-col space-y-6 py-4 md:my-20">
    <p class="select-all text-base font-bold leading-none md:text-2xl">
      selinakim343@outlook.com
    </p>

    <!-- Resume button -->
    <div
      class="hoverable resume-scale project-border-effect relative cursor-pointer overflow-hidden rounded-full p-[2px] sm:p-1"
    >
      <a
        href="/Resume.pdf"
        rel="noopener noreferrer"
        target="_blank"
        title="View Resume"
        class="sm:outline-effect relative block w-56 overflow-hidden rounded-full bg-light-main px-5 py-2 text-lg font-bold leading-none md:w-96 md:px-6 md:py-3 md:text-4xl"
      >
        Resume
      </a>
    </div>

    <!-- Social Icons -->
    <div class="flex justify-center gap-3 md:gap-4">
      <Social
        website="https://www.github.com/selina-kim"
        alt="Github"
        Icon={GitHubIcon}
      />
      <Social
        website="https://www.linkedin.com/in/selina-kim"
        alt="LinkedIn"
        Icon={LinkedInIcon}
      />
    </div>
  </div>
</div>
