<div class="absolute left-0 my-auto text-center w-full h-[var(--footer-height)] -mt-[var(--footer-height)] bg-light py-1 global-padding border-t-[1px] border-light-gray">
    <!-- Copyright -->
    <p class="inline-block text-xs text-light-gray leading-none select-all">
        © Selina Kim 2023
    </p>
</div>