<div
  class="bottom-0 left-0 my-auto h-[var(--footer-height)] w-full border-t-[1px] border-light-gray py-1 text-center dark:border-dark-gray"
>
  <!-- Copyright -->
  <p
    class="inline-block select-all text-xs leading-none text-light-gray dark:text-dark-gray"
  >
    © Selina Kim 2024
  </p>
</div>
