<div
  class="bg-light global-padding absolute left-0 my-auto -mt-[var(--footer-height)] h-[var(--footer-height)] w-full border-t-[1px] border-light-gray py-1 text-center"
>
  <!-- Copyright -->
  <p class="inline-block select-all text-xs leading-none text-light-gray">
    © Selina Kim 2023
  </p>
</div>
