---
import DownloadResume from "./DownloadResume.astro";
---

<div class="section justify-center">
    <div class="">
        <h3>
            <b>selinakim343@outlook.com</b>
        </h3>
        <DownloadResume />
    </div>
</div>