---
import Social from './Social.astro';
---

<div class="absolute left-0 text-center flex-col w-full h-[var(--footer-height)] -mt-[var(--footer-height)] bg-light py-1 px-10 border-t-[1px] border-light-gray">
    <!-- Social Icons -->
    <div class="flex justify-center gap-2 mt-1">
        <Social website="github.com/selina-kim" icon="akar-icons:github-fill"/>
        <Social website="linkedin.com/in/selina-kim" icon="akar-icons:linkedin-box-fill"/>
    </div>

    <!-- Copyright -->
    <p class="text-xs text-dark-gray leading-none">
        © Selina Kim 2023
    </p>
</div>