<div class="section -mt-[var(--navbar-height)]">
    <div class="box-content">
        <h2 class="mb-3">
            hi, my name is <b>selina kim</b>
        </h2>

        <div class="flex-col content-center">
            <p>I'm a programmer based in <b>Ontario, Canada</b>.</p>
            <p>I'm also currently studying <b>computer science</b> at McMaster University.</p>
            <p>Aside from programming, I have interests in video editing, motion graphics, and playing guitar.</p>
        </div>
    </div>
</div>