---
import NavBarHoverStroke from "./NavBarHoverStroke.astro";
---

<nav class="top-0 flex justify-between items-end w-screen h-[var(--navbar-height)] fixed bg-light-main pt-3 pb-1 global-padding border-b-[1px] border-light-gray">
     <!-- Title -->
    <span class="whitespace-nowrap text-4xl md:text-5xl font-bold bg-clip-text text-transparent bg-accent-gradient select-none">
        selina kim
    </span>
    
    <span class="flex space-x-8">
        <ul class="relative text-base select-none pb-1 sm:pb-3 items-end text-center sm:text-lg md:text-2xl font-bold text-dark-main flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:gap-x-4 ml-6 sm:ml-0">
            <li class="navbar-object-hover">
                <div class="stroke-animation">
                    <NavBarHoverStroke />
                </div>
                <a href="#home-section" rel="noopener noreferrer">
                    home
                </a>
                
            </li>
            <li class="navbar-object-hover">
                <div class="stroke-animation">
                    <NavBarHoverStroke />
                </div>
                <a href="#project-section" rel="noopener noreferrer">
                    projects
                </a>
            </li>
            <li class="navbar-object-hover">
                <div class="stroke-animation">
                    <NavBarHoverStroke />
                </div>
                <a href="#contact-section" rel="noopener noreferrer">
                    contact
                </a>
            </li>
        </ul>
    </span>
        
</nav>