---
import Index from "../pages/index.astro";
---

<nav class="top-0 flex justify-between items-end w-screen h-[var(--navbar-height)] fixed bg-light-main pt-3 pb-1 px-10 border-b-[1px] border-light-gray">
     <!-- Title -->
    <span class="text-5xl font-bold bg-clip-text text-transparent bg-accent-gradient select-none">
        selina kim
    </span>
    
    <ul class="flex text-2xl font-bold gap-4 text-dark-main">
        <li>
            <a href="/" rel="noopener noreferrer">
                home
            </a>
        </li>
        <li>
            <a href="/#project-section" rel="noopener noreferrer">
                projects
            </a>
        </li>
        <li>
            <a href="/" rel="noopener noreferrer">
                contact
            </a>
        </li>
    </ul>

</nav>