---
import Project from "./Project.astro";
---

<div class="section justify-center">
    <div class="">
        <h2>my projects</h2>
    </div>
    <div class="flex-row">
        <Project />
    </div>
</div>