---
import '@fontsource/red-hat-display/400.css';
import '@fontsource/red-hat-display/700.css';

const { title } = Astro.props as Props;

export interface Props {
	title: string;
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js" type="module"></script>
		<meta name="generator" content={Astro.generator} />
		<meta name="language" content="English" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script is:inline>
	const theme = (() => {
		if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
			return localStorage.getItem("theme");
		}
		if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			return "dark";
		}
		return "light";
		})();
		
	if (theme === "light") {
		document.documentElement.classList.remove("dark");
	} else {
		document.documentElement.classList.add("dark");
	}
	window.localStorage.setItem("theme", theme);
</script>